In [28]:
import pandas as pd
import numpy as np
data = pd.read_csv("bankdebt.csv",header=None, index_col=0)

dic = {'Yes':1, 'No':0, 'Single':1, 'Married':2, 'Divorced':3}
data.replace(dic, inplace=True)
data

    1  2     3  4
0
1   1  1  12.5  0
2   0  2  10.0  0
3   0  1   7.0  0
4   1  2  12.0  0
5   0  3   9.5  1
6   0  2   6.0  0
7   1  3  22.0  0
8   0  1   8.5  1
9   0  2   7.5  0
10  0  1   9.0  1
11  0  1   5.5  1
12  1  2   8.0  0
13  1  3  11.0  0
14  0  1   9.5  0
15  0  3   6.7  1

In [29]:
from sklearn import model_selection
X = data.iloc[:,0:3].values.astype(float)
y = data.iloc[:,3].values.astype(float)
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.35, random_state=1)
X_train

array([[ 0. ,  2. , 10. ],
       [ 0. ,  1. ,  9.5],
       [ 1. ,  1. , 12.5],
       [ 0. ,  3. ,  6.7],
       [ 0. ,  1. ,  9. ],
       [ 0. ,  2. ,  7.5],
       [ 1. ,  3. , 11. ],
       [ 1. ,  2. ,  8. ],
       [ 0. ,  2. ,  6. ]])

In [42]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
print("准确率",clf.score(X_test, y_test))

准确率 0.6666666666666666

In [40]:
from sklearn import metrics
predict_y_test = clf.predict(X_test)
print("性能报告\n",metrics.classification_report(y_test, predict_y_test))

性能报告
               precision    recall  f1-score   support

         0.0       0.67      0.67      0.67         3
         1.0       0.67      0.67      0.67         3

    accuracy                           0.67         6
   macro avg       0.67      0.67      0.67         6
weighted avg       0.67      0.67      0.67         6

In [39]:
print("混淆矩阵\n",metrics.confusion_matrix(y_test, predict_y_test))

混淆矩阵
 [[2 1]
 [1 2]]

结论：分类器在测试集上的预测正确率一般
题目要求在训练集上测试分类器的性能，而参考答案却是在整个数据上训练的，参考答案错误