In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# dependency xlrd, must<=1.2.0. the newer version only support '.xls'
# skiprows忽略前三行
student = pd.read_excel('data\student3.xlsx', 'Group1', index_col=0, skiprows=3)
student[:2]

      性别  年龄   身高  体重        省份  成绩
序号
1   male  20  170  70  LiaoNing  71
2   male  22  180  71   GuangXi  77