In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
data = pd.read_excel('data/DataScience.xls')
data

,周次,星期,节次,课程名称,实验项目名称,实验课时数,实验类型,班级,班级人数,二级实验室名称,实验地点门牌号
0,2.0,1.0,5~7,数据结构,顺序表的基本操作,3.0,验证型,数据科学181,24.0,基础实验室,11-505
1,4.0,1.0,5~7,数据结构,链表的基本操作,3.0,验证型,数据科学181,24.0,基础实验室,11-505
2,6.0,1.0,5~7,数据结构,栈的基本运算,3.0,验证型,数据科学181,24.0,基础实验室,11-505
3,8.0,1.0,5~7,数据结构,二叉树的操作,3.0,验证型,数据科学181,24.0,基础实验室,11-505
4,10.0,1.0,5~7,数据结构,马踏棋盘问题,3.0,验证型,数据科学181,24.0,基础实验室,11-505
...,...,...,...,...,...,...,...,...,...,...,...
91,4.0,3.0,5-8,Python语言程序设计,字符串使用,4.0,验证型,大数据应用191,34.0,基础实验室,11-505
92,5.0,3.0,5-8,Python语言程序设计,函数与类设计,4.0,验证型,大数据应用191,34.0,基础实验室,11-505
93,6.0,3.0,5-8,Python语言程序设计,文件操作与异常处理,4.0,验证型,大数据应用191,34.0,基础实验室,11-505
94,7.0,3.0,5-8,Python语言程序设计,界面设计,4.0,验证型,大数据应用191,34.0,基础实验室,11-505
95,8.0,3.0,5-8,Python语言程序设计,综合程序设计,4.0,综合型,大数据应用191,34.0,基础实验室,11-505

In [3]:
# 查询实验教学计划的基本内容及总数
data.shape

(96, 11)

In [4]:
# 查询实验教学计划表中是否含有NaN数据。
print(data.isnull().any())
# 将含有NaN数据的行导出为数据文件pre.csv
t = data.loc[data.isnull().any(axis=1)]
t.to_csv('pre.csv')
# 判断采用何种数据清洗模式：填充、删除或手工填充；
# 由于课表排布非常规则，仅需删除全为NaN的行，其余缺失项用前一行填充即可
data.dropna(how='all', inplace=True)
data.fillna(method='ffill', inplace=True)
data.isnull().any()

周次         True
星期         True
节次         True
课程名称       True
实验项目名称     True
实验课时数      True
实验类型       True
班级         True
班级人数       True
二级实验室名称    True
实验地点门牌号    True
dtype: bool

周次         False
星期         False
节次         False
课程名称       False
实验项目名称     False
实验课时数      False
实验类型       False
班级         False
班级人数       False
二级实验室名称    False
实验地点门牌号    False
dtype: bool

In [5]:
# 查询课程名称、实验项目名称、实验类型和二级实验室四列数据内容
data[['课程名称','实验项目名称','实验类型','二级实验室名称']]

            课程名称     实验项目名称 实验类型 二级实验室名称
0           数据结构   顺序表的基本操作  验证型   基础实验室
1           数据结构    链表的基本操作  验证型   基础实验室
2           数据结构     栈的基本运算  验证型   基础实验室
3           数据结构     二叉树的操作  验证型   基础实验室
4           数据结构     马踏棋盘问题  验证型   基础实验室
..           ...        ...  ...     ...
91  Python语言程序设计      字符串使用  验证型   基础实验室
92  Python语言程序设计     函数与类设计  验证型   基础实验室
93  Python语言程序设计  文件操作与异常处理  验证型   基础实验室
94  Python语言程序设计       界面设计  验证型   基础实验室
95  Python语言程序设计     综合程序设计  综合型   基础实验室

[94 rows x 4 columns]

In [6]:
# 统计每一门课程的实验课时数
# 按照‘课程名称’分组, 计算 ‘实验课时数’ 的和
name_grouped = data.groupby('课程名称')
name_sum = name_grouped.aggregate({'实验课时数':np.sum})
name_sum

              实验课时数
课程名称
Python语言程序设计   64.0
商务数据分析         24.0
大数据技术          32.0
数据挖掘与机器学习      64.0
数据科学导论         48.0
数据结构           24.0

In [7]:
# 统计每周开设的各门实验课的时数
# 按照 '周次', '课程名称' 两列数据分组 
wknm_grouped = data.groupby(['周次','课程名称'])
wknm_sum = wknm_grouped.aggregate({'实验课时数':np.sum})
wknm_sum

                   实验课时数
周次   课程名称
1.0  Python语言程序设计    8.0
     大数据技术           2.0
     数据挖掘与机器学习       4.0
2.0  Python语言程序设计    8.0
     大数据技术           2.0
...                  ...
15.0 数据科学导论          6.0
16.0 大数据技术           2.0
     数据挖掘与机器学习       4.0
     数据科学导论          6.0
     数据结构            3.0

[62 rows x 1 columns]

In [10]:
# 统计每门课程的实验类型分布（crosstab）
pd.crosstab(data['课程名称'],data['实验类型'])

实验类型          实训  综合型  设计型  验证型
课程名称
Python语言程序设计   0    2    0   14
商务数据分析         6    0    0    0
大数据技术          0    3    7    6
数据挖掘与机器学习      0    2   10   20
数据科学导论         0    4    4    8
数据结构           0    0    0    8

In [15]:
# 统计每个班级的实验课课表
# （1）将数据按照 ['班级','周次','星期','节次']  这4个列排序（升序）
#（2）再选出这些列['班级','周次','星期','节次','课程名称','实验项目名称']
data.sort_values(by=['班级','周次','星期','节次'], inplace=True)
data[['班级','周次','星期','节次','课程名称','实验项目名称']]

             班级   周次   星期   节次          课程名称           实验项目名称
41     大数据应用171  1.0  4.0  3～4         大数据技术  Hadoop安装与HDFS使用
72     大数据应用171  2.0  3.0  7~8     数据挖掘与机器学习             树、规则
42     大数据应用171  2.0  4.0  3～4         大数据技术    MapReduce编程基础
73     大数据应用171  3.0  3.0  7~8     数据挖掘与机器学习           最佳回归系数
43     大数据应用171  3.0  4.0  3～4         大数据技术         HBase的使用
..          ...  ...  ...  ...           ...              ...
35  数据科学（卓越）191  4.0  2.0  1-4  Python语言程序设计            字符串使用
36  数据科学（卓越）191  5.0  2.0  1-4  Python语言程序设计           函数与类设计
37  数据科学（卓越）191  6.0  2.0  1-4  Python语言程序设计        文件操作与异常处理
38  数据科学（卓越）191  7.0  2.0  1-4  Python语言程序设计             界面设计
39  数据科学（卓越）191  8.0  2.0  1-4  Python语言程序设计           综合程序设计

[94 rows x 6 columns]

In [16]:
# 分析各二级实验室承担的实验课时量
lab_grouped = data.groupby('二级实验室名称')
lab_sum = lab_grouped.aggregate({'实验课时数':np.sum})
lab_sum

         实验课时数
二级实验室名称
人工智能实验室   64.0
基础实验室     88.0
数据科学实验室  104.0

In [18]:
# 分析各二级实验室能够支持的实验类型
lab_grouped['实验类型'].unique()

二级实验室名称
人工智能实验室        [验证型, 设计型, 综合型]
基础实验室               [验证型, 综合型]
数据科学实验室    [验证型, 设计型, 综合型, 实训]
Name: 实验类型, dtype: object