In [2]:
# 数据集bankdebt.csv
# 1. 将数据集划分为训练集和测试集，查看决策树分类器的性能。
# 2. 将例5-3学习的分类器保存到文件中，然后重新加载预测给出的新数据
import pandas as pd
data = pd.read_csv('../data/bankdebt.csv', index_col=0, header=None)
data

      1         2     3    4
0
1   Yes    Single  12.5   No
2    No   Married  10.0   No
3    No    Single   7.0   No
4   Yes   Married  12.0   No
5    No  Divorced   9.5  Yes
6    No   Married   6.0   No
7   Yes  Divorced  22.0   No
8    No    Single   8.5  Yes
9    No   Married   7.5   No
10   No    Single   9.0  Yes
11   No    Single   5.5  Yes
12  Yes   Married   8.0   No
13  Yes  Divorced  11.0   No
14   No    Single   9.5   No
15   No  Divorced   6.7  Yes

In [4]:
dic = {'Yes':1, 'No':0, 'Single':1, 'Married':2, 'Divorced':3}
data.replace(dic, inplace=True)
data

    1  2     3  4
0
1   1  1  12.5  0
2   0  2  10.0  0
3   0  1   7.0  0
4   1  2  12.0  0
5   0  3   9.5  1
6   0  2   6.0  0
7   1  3  22.0  0
8   0  1   8.5  1
9   0  2   7.5  0
10  0  1   9.0  1
11  0  1   5.5  1
12  1  2   8.0  0
13  1  3  11.0  0
14  0  1   9.5  0
15  0  3   6.7  1

In [5]:
X = data.loc[:, 1:3].values.astype(float)
Y = data.loc[:, 4].values.astype(int)
print(X)
print(Y)

[[ 1.   1.  12.5]
 [ 0.   2.  10. ]
 [ 0.   1.   7. ]
 [ 1.   2.  12. ]
 [ 0.   3.   9.5]
 [ 0.   2.   6. ]
 [ 1.   3.  22. ]
 [ 0.   1.   8.5]
 [ 0.   2.   7.5]
 [ 0.   1.   9. ]
 [ 0.   1.   5.5]
 [ 1.   2.   8. ]
 [ 1.   3.  11. ]
 [ 0.   1.   9.5]
 [ 0.   3.   6.7]]
[0 0 0 0 1 0 0 1 0 1 1 0 0 0 1]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.35, random_state=1)
from sklearn import tree
clfTr = tree.DecisionTreeClassifier()
clfTr = clfTr.fit(X_train, Y_train)
print('分类器在测试集上的的分数: ', clfTr.score(X_test, Y_test), '\n')
predicted_Y = clfTr.predict(X_train)
from sklearn import metrics
print(metrics.classification_report(Y_train, predicted_Y))
print('混淆矩阵:')
print(metrics.confusion_matrix(Y_train, predicted_Y))

分类器在测试集上的的分数:  0.6666666666666666

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       1.00      1.00      1.00         2

    accuracy                           1.00         9
   macro avg       1.00      1.00      1.00         9
weighted avg       1.00      1.00      1.00         9

混淆矩阵:
[[7 0]
 [0 2]]

In [17]:
# 将分类器保存到文件
import joblib

joblib.dump(clfTr,'myclf')

['myclf']

In [19]:
# 从文件中加载分类器
clf = joblib.load('myclf')
clf

DecisionTreeClassifier()